@media screen and (max-width: 640px){
    .banner img{
        display: none;
    }
    .filter h5{
        display: none;
    }
    header .menu{
        display: none;
    }
    .search_section{
        margin-top: 10vh;
    }
    .text_content {
        padding: 20px 24px;
    }
    .burger_menu{
        display: block;
    }
    .filter_block{
        position: static;
    }
    .filter{
        display: none;
    }
    .filter_mobile{
        margin-left: 4px;
        display: block;
    }
    .popup_container{
        left: 0;
        top: 100%;
        height: 100%;
        width: 100%;
        position: fixed;
        border-radius: 20px;
        overflow-y: scroll;
    }
    .button_group{
        margin-bottom: 20px;
    }
    .open_bottom_sheet{
        display: block;
        position: fixed;
        top: 60%;
        border-radius: 20px;
        box-shadow: var(--shadow_80);
    }
    .open_bsh_full{
        position: absolute;
        top: 0%;
        border-radius: 0px;
    }
    .checkbox_wrapper{
        margin-bottom: 16px;
    }
    header{
        padding: 20px 0;
    }
    .mobile_header{
        display: flex;
        flex-direction: row;
    }
    .mobile_header img{
        margin-left: 16px;
    }
}