.container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 24px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.col2{
    width: calc(100% / 12 * 2 - 24px);
    margin: 12px;
    box-sizing: border-box;
}

.col3{
    width: calc(100% / 12 * 3 - 24px);
    margin: 12px;
    box-sizing: border-box;
}

.col4{
    width: calc(100% / 12 * 4 - 24px);
    margin: 12px;
    box-sizing: border-box;
}

.col6{
    width: calc(100% / 12 * 6 - 24px);
    margin: 12px;
    box-sizing: border-box;
}

.col8{
    width: calc(100% / 12 * 8 - 24px);
    margin: 12px;
    box-sizing: border-box;
}

.col10{
    width: calc(100% / 12 * 10 - 24px);
    margin: 12px;
    box-sizing: border-box;
}

.col12{
    width: calc(100% / 12 * 12 - 24px);
    margin: 12px;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px){
    .col8{
        width: calc(100% / 12 * 12 - 24px);
    }
}