@import "fonts.css";
@import "grid.css";
@import "vars.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.j_c{
    justify-content: center;
}

.page_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.hero_header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: var(--primary_80);
    padding: 0;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
}

.menu_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    margin-left: 12px;
    color: var(--gray_100);
}

a{
    color: var(--gray_100);
    text-decoration: none;
}

a:hover{
    color: var(--primary_80);
}

a:active{
    color: var(--primary_100);
}

a:focus{
    color: var(--primary_100);
    outline: none;
}

.search_section{
    color: var(--gray_100);
}

.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.search_bar{
    background: var(--gray_10);
    border-radius: 12px;
    padding: 14px 24px;
    border: 1px solid var(--gray_10);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--gray_100);
    width: 100%;
}

.search_bar::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--gray_40);
}

.search_bar:hover{
    background: var(--gray_20);
    border: 1px solid var(--gray_20);
}

.search_bar:focus{
    border: 1px solid var(--gray_20);
    background: var(--gray_20);
}

.filter{
    display: flex;
    margin-left: 24px;
    padding: 12px 8px;
}

.icon_24{
    width: 24px;
    height: 24px;
}

.filter h5{
    padding: 0;
    margin-left: 8px;
}

.banner{
    display: flex;
    background: var(--primary_80);
    border-radius: 12px;
    margin-top: 16px;
    overflow: hidden;
}

.banner h3{
    padding: 0;
    color: var(--white_100);
}

.banner p{
    padding: 0;
    color: var(--gray_30);
    margin-top: 8px;
}

.banner img{
    object-fit: cover;
}

.text_content{
    width: 100%;
    padding: 24px 32px;
}

.footer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
    color: var(--gray_40);
}