<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Serial Killer</title>
</head>
<body>
    <div class="container">
        <div class="row j_c">
            <div class="col8">
                <div class="page_content">
                    <div class="hero_header">
                        <header>
                            <h3 class="logo">Serial Killer</h3>
                            <div class="menu">
                                <div class="menu_item">
                                    <a href="" tabindex="1">
                                        <h5>About service</h5>
                                    </a>
                                </div>
                                <div class="menu_item">
                                    <a href="" tabindex="2">
                                        <h5>Telegram</h5>
                                    </a>
                                </div>
                            </div>
                        </header>
                        <div class="search_section">
                            <h1>Find TV Shows</h1>
                            <div class="search_content">
                                <div class="filters">
                                    <input type="text" class="search_bar" name="searchBar" placeholder="Find any TV shows or series">
                                    <a class="filter" href="">
                                        <img class="icon_24" src="img/filter.svg" alt="">
                                        <h5>Filters</h5>
                                    </a>
                                </div>
                                <div class="banner">
                                    <div class="text_content">
                                        <h3>Rating for each season and episode</h3>
                                        <p>Check the rating of each episode and season to understand watching this show or not</p>
                                    </div>
                                    <img src="img/banner_img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="small">All rights reserved</p>
                        <p class="small">2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="js/main.js"></script>
</body>
</html>